<div class="filters__items">

    <div class="accordion" role="navigation" data-accordion>

        {% comment %} SORT BY {% endcomment %}

        {% if search_page_filter %}
            {% assign sort_options = search.sort_options %}
            {% assign sort_by = search.sort_by | default: search.default_sort_by %}
        {% else %}
            {% assign sort_options = collection.sort_options %}
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
        {% endif %}

        <div class="accordion__item" data-accordion-item> 

            <button class="accordion__heading filters__item-heading" aria-expanded="false" aria-controls="contentSorting" data-accordion-heading>
                Sorting
                <span class="filters__selected-filters" data-accordion-selected-filters></span>
                {% render 'icon-select' %}
            </button>

            <div class="accordion__content" role="region" data-accordion-content>

                <span class="visually-hidden">Sort by</span>
                
                <div class="select">

                    {% render 'sort-by-cards', sort_options: sort_options, sort_by: sort_by %}

                </div>

            </div>

        </div>

        {% comment %} FILTERS {% endcomment %}

        {%- assign total_active_values = 0 -%}

        {% if search_page_filter %}
            {% assign filters = search.filters %}
        {% else %}
            {% assign filters = collection.filters %}
        {% endif %}
    
        {% for filter in filters %}

            {% assign hasOption = 0 %}
            
            {% for value in filter.values %}
                {% if value.count > 0 %}
                    {% assign hasOption = hasOption | plus: 1 %}
                {% endif %}
            {% endfor %}

            {%- comment -%} Always show the price filter {%- endcomment -%}
            {% if filter.type == 'price_range' %}
                {% assign hasOption = hasOption | plus: 1 %}
            {% endif %}

            {%- comment -%} Show filter only when has some option {%- endcomment -%}
            {% if hasOption > 0 %}
                
                {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}

                <div class="accordion__item" data-accordion-item> 

                    <button class="accordion__heading filters__item-heading" aria-expanded="false" aria-controls="contentSorting" data-accordion-heading>
                        {{ filter.label | escape }}
                        <span class="filters__selected-filters" data-accordion-selected-filters></span>
                        {% render 'icon-select' %}
                    </button>

                    <div class="accordion__content" role="region" data-accordion-content>

                        <div class="js-filter" data-index="{{ forloop.index0 }}">

                        {% case filter.type %}

                            {% when 'list' %}

                                {% assign filter_name = filter.label | upcase %}

                                {% if filter_name == 'SIZE' %}

                                    {% render 'filters-type-text-swatch': filter: filter %}

                                {% else %}

                                    {% render 'filters-type-list': filter: filter %}

                                {% endif %}

                            {% when 'price_range' %}

                                {% render 'filters-type-price': filter: filter %}

                        {% endcase %}

                        </div>

                    </div>

                </div>

            {% endif %}
            
        {% endfor %}

    </div>

</div>
