<div class="filters__header">

    <button class="btn-link filters__close" aria-label="Close filters" data-filter-close>{% render 'icon-close' %}</button>

    <div class="filters__heading">Filter & Sorting <span class="count-bubble" data-filter-count="0"></span></div>

    {% render 'active-facets', search_page_filter: search_page_filter %}

</div>