{%- assign image_url = image | img_url: '480x' -%}
{%- assign imageHover_url = imageHover | img_url: '480x' -%}

{% if link %}
    <a href="{{ link }}">
{% endif %}
    <div {% if imageHover %} class="menu-content-item__image-content" {% endif %}>
        <span class="menu-content-item__image">
            {% render 'image', src: image_url, aspect_ratio: image.aspect_ratio, alt: image.alt %}
        </span>

        <span class="menu-content-item__image--hover hidden">
            {% render 'image', src: imageHover_url, aspect_ratio: imageHover.aspect_ratio, alt: imageHover.alt %}
        </span> 
    </div>

    {% if title.size > 0 or subtitle.size > 0 %} 

        <div class="menu__submenu-text">
            {% if title %}
                <p class="menu__submenu-title">{{ title }}</p>
            {% endif %}

            {% if subtitle %}
                <p class="menu__submenu-subtitle">{{ subtitle }}</p>
            {% endif %}
        </div>
        
    {% endif %}



{% if link %}
    </a>
{% endif %}