<a class="mini-cart__toggle btn-link" 
href="{{ routes.cart_url }}" data-minicart-toggle
class="btn-link">
    <span class="visually-hidden">Shopping cart</span>
    <span data-minicart-count="{{ cart.item_count }}" class="mini-cart__count {% if cart.item_count > 9 %}mini-cart__count--large{% endif %} {% if cart.item_count > 99 %}mini-cart__count--extra-large{% endif %}">{{ cart.item_count }}</span>
</a>
