            
<div class="product-card__placeholder-image loading">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
</div>

<div class="product-card__placeholder-text loading"></div>
<div class="product-card__placeholder-price loading"></div>

