{%- assign banner_text = banner_text -%}
{%- assign title_text = title_text -%}
{%- assign description_text = description_text -%}

<div class="popup" data-popup>
    <a class="popup__close" data-popup-close>×</a>
    <span class="popup__banner">{{banner_text}}</span>
    <span class="popup__title">{{title_text}}</span>
    <span class="popup__description">{{description_text}}</span>
</div>