<div data-section class="price-table {% unless full_width %} container page-container {% endunless %} ">

    <h2 class=".h2">{{title}}</h2>

    <swiper-slider class="swiper swiper__product-card"  
    data-view-mobile="1.1"
    data-view-tablet="3.2"
    data-view-tablet-extra="4"
    data-view-desktop="4" 
    data-options='{ "pagination": { "el": ".swiper-pagination", "dynamicBullets": false } }' style="width: 100%;display: block;">

        <div class="swiper-wrapper">

            {% for block in blocks_images %}
                {% assign block_image = block %}
                {% assign img_url = block_image.cloudinary_src | append: 'w_2000' %}    
                <div class="swiper-slide">
                    <div data-zoomable>
                        <img src="{{ img_url }}" class="price-table__image-picker"
                        alt="{{ block_image.alt | escape}}">
                    </div> 
                </div>
            {% endfor %}

        </div>

        <div class="swiper-pagination"></div>

        {% if blocks_images | size > 4 %}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        {% endif %}

    </swiper-slider>

</div>

<style>
    .price-table {
        margin-bottom: 3rem;
        padding-top: 51px;
        padding-bottom: 37px;
    }
    .price-table__image-picker{
        width: 100%;
    }
</style>
