{{ 'products-slider.css' | asset_url | stylesheet_tag }}

{%- assign collection = collections[collections_slider] -%}

{% if collection != blank %}

  <div class="page-container">

    <div class="section-products-slider container">
    
      {% if title %}
        <div class="carousel__heading-wrapper"> 
          <h2 class="carousel__heading">{{title}}</h2> 
        </div>
      {% endif %}
        
      <div class="carousel__products">
        
          <div class="carousel__products-container">

            <swiper-slider class="swiper swiper__product-card"  
              data-view-mobile="1.1"
              data-view-tablet="3.1" 
              data-view-desktop="3" 
              data-options='{ "pagination": { "el": ".swiper-pagination", "dynamicBullets": false } }' style="width: 100%;display: block;">

                <div class="swiper-wrapper">
                  {% for product in collection.products limit: 6 %}
                    <div class="swiper-slide">
                      {% render 'product-card', product: product, quickview: true %}
                    </div>
                  {% endfor %}
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

              </swiper-slider>
        </div>
      </div>
    </div>
  </div>

{% endif %}

