{% comment %} {%- assign imageTypes = 'color|testcolor|hrcolor' | downcase -%}  {% endcomment %}
{%- assign imageTypes = settings.swatch_types | downcase -%} 

<component-swatch class="swatches" data-handle="{{ product.handle }}" >

    {% unless product.options_with_values.size == 1 and product.options_with_values[0].values.size == 1 %}

        {% for option in product.options %}

            {%- assign optionName = option | downcase -%}
            
            <div class="swatches__swatch" data-option="{{ option | replace: ' ', '-'}}" data-position="{{ forloop.index0 | plus: 1 }}">

                <div class="swatches__swatch-label">{{option}}:</div>

                {% for value in product.options_by_name[option].values %}

                    {% if imageTypes contains optionName %}

                        <div class="swatches__swatch-image">
                            <div class="swatches__swatch-loading loading swatches__swatch-loading--image"></div>
                        </div>

                    {% else %}

                        <div class="swatches__swatch-text">
                            <div class="swatches__swatch-loading loading"></div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>

        {% endfor %}

    {% endunless %}

</component-swatch>
