
{%- assign variantAlt = product.first_available_variant.featured_media.alt | downcase -%}
  
{% if product.media.size > 1 %}

    <div class="gallery__thumbnails" data-thumbnail-slider>

        <div class="media-size-{{ product.media.size }}">
            
            <ul class="gallery__product-thumbnails">

                {% for media in product.media %}

                    {%- assign imageAlt = media.alt | downcase -%}
                    
                    <li class="gallery__thumbnails-item" {% unless variantAlt == imageAlt %}style="display: none;"{% endunless %} data-thumbnail-item="{{ media.alt }}" data-thumbnail-index="{{ forloop.index0 }}">
                        
                        {%- assign imageUrl = media.preview_image | img_url: '110x', scale: 2 -%}
                        
                        <button role="button" aria-label="Show thumbnail: {{ media.alt }}">
                        {% render 'image', src: imageUrl, aspect_ratio: media.aspect_ratio, class: 'gallery__thumbnail-image', alt: media.alt %}
                        </button>

                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>

{% endif %}
