{{ 'progress-bar.css' | asset_url | stylesheet_tag }}

{%- comment -%}
<div class="progress-bar">
    <div class="progress-bar__text">You’re $100.00 away from free shipping!</div>
    <div class="progress-bar__bar-container">
        <div class="progress-bar__bar"></div>
    </div>
</div>
{%- endcomment -%}

<div class="progress-bar">

    <!-- Pretty Free Shipping Goal App -->
    <div id="fspb_wrapper"></div>
</div>
