
{{ 'component-scroll-button.css' | asset_url | stylesheet_tag }}

<scroll-button>
    <button class="scroll-button btn-link">
        {% render 'icon-arrow' %}
        <span>{{ 'general.scroll_btn.text' | t }}</span>
    </button>
</scroll-button>

<script src="{{ 'component-scroll-button.js' | asset_url }}" defer="defer"></script>