{{ 'size-table.css' | asset_url | stylesheet_tag }} 
<span class="size-table">
    <button type="button" data-modal-open="{{product.handle}}-sizes" class="btn-link btn-small-size">{{ 'products.product.size_guide' | t }}</button>
</span>