<div class="tooltip container{% if align == "right" %} align-right{% elsif align == "left" %} align-left{% endif %}" data-tooltip>
    <a class="tooltip__title-link" href="#" data-tooltip-link>{{ text }}</a>
    {% if content %}
        <div class="tooltip__items{% if align == "right" %} align-right{% elsif align == "left" %} align-left{% endif %}" data-tooltip-items>
            {{ content }}
        </div>
    {% endif %}

    <div class="tooltip__overlay global-overlay" data-tooltip-close></div>
</div>
