{%- assign mobile_image_url = section.settings.mobile_image | img_url: '800x' -%}
{%- assign tablet_image_url = section.settings.tablet_image | img_url: '800x' -%}
{%- assign desktop_image_url = section.settings.desktop_image  | img_url: '2000x' -%}
{% unless section.settings.full_width %}
<div class="container">
{% endunless %}

  {% render 'banner-overlay',
    heading: section.settings.heading,
    subheading: section.settings.subheading,
    button: section.settings.button_value,
    button_style: "link",
    overlay_position: "middle",
    text_align: section.settings.text_alignment,
    text_color: section.settings.color_text,
    alt_image: section.settings.subheading,
    mobile_image: section.settings.mobile_image,
    tablet_image:  section.settings.tablet_image,
    desktop_image:  section.settings.desktop_image,
    mobile_image_url: mobile_image_url,
    tablet_image_url: tablet_image_url,
    desktop_image_url: desktop_image_url,
    message_link: section.settings.message_link,
    small_style: true,
    mobile_disable_overlay: section.settings.mobile_disable_overlay
    %}

{% unless section.settings.full_width %}
</div>
{% endunless %}

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full Width"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "#FleurGirls"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Shop the spiciest looks, hot off the 'gram"
    },
    {
      "type": "text",
      "id": "button_value",
      "label": "Button Value",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color",
      "default": "#FFFFFF"
    },
    {
      "type": "radio",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options" :[
        {"value": "left", "label": "Left"},
        {"value": "right", "label": "Right"},
        {"value": "center", "label": "Center"}
      ],
      "default": "center"
    },
    {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop"
    },
    {
        "type": "image_picker",
        "id": "tablet_image",
        "label": "Tablet"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "mobile_disable_overlay",
      "label": "Disable overlay",
      "default": false
    }
  ],
  "presets": [
    {
        "name": "Banner Overlay"
    }
  ]
}
{% endschema %}