{%- for item in cart.items -%}
    
  {% if forloop.first == true %}

    {%- assign productID = item.product.id  -%}

  {% endif %}

{%- endfor -%}

<div class="cart-related-products">

  {%- if productID != blank -%}

    {% render 'related-products', productID: productID, title: section.settings.heading %}

  {%- endif -%}

</div>

{% schema %}
{
  "name": "Cart related first",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Turn on related products",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Slide Heading",
      "default": "You May Also Like"
    }
  ],
  "blocks": [],
  "presets": [
    {
        "name": "Cart related first"
    }
  ]
}
{% endschema %}