{{ 'question-answer.css' | asset_url | stylesheet_tag }} 

<div class="question__container container">
    <div class="question__header">
          <h1>{{page_title}}</h1>
    </div>
    <div class="question__content">
        {% for block in section.blocks %}
          <div class="question__item">
              <div class="question__item-header">
                  {{block.settings.question}}
              </div>
              {{block.settings.answer}}
          </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Questions Answers",
  "tag": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Questions Answers",
      "settings": [
        {
          "label": "Question",
          "type": "text",
          "id": "question"
        },
        {
           "label": "Answer",
           "type": "richtext",
           "id": "answer"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Questions & Answers",
    "blocks": [
      {
        "type": "text"
      }
    ]
  }
  ]
}
{% endschema %}