.collection-banner {
    position: relative;
    z-index: 2;
}

.collection-banner__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.collection-banner__text-container {
    padding-top: 25px;
}

.collection-banner__title {
    max-width: 95%;
    padding-bottom: 3px;
}
