
quick-variant-selector {
    position: relative;
}

quick-variant-selector ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: auto;
    bottom: 25px;
    background: white;
    width: 110px;
    border: 1px solid black;
    padding: 0;
    z-index: 1;
}

quick-variant-selector ul li {
    margin-right: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    background: white;
    padding: 0;
    padding-bottom: 3px;
}

quick-variant-selector ul li:last-child {
    border: 0;
}

quick-variant-selector ul li:hover {
    background: whitesmoke;
}

quick-variant-selector ul li .btn {
    font-weight: normal;
    text-decoration: none;
    width: 100%;
    text-align: left;
    background: transparent;
    font-size: 14px;
    line-height: 14px;
    padding: 11px 5px 8px;
}

quick-variant-selector ul li .btn:hover {
    text-decoration: none;
}

quick-variant-selector [data-tooltip-trigger] {
    padding-right: 10px;
}

quick-variant-selector [data-tooltip-trigger] .icon {
    width: 10px;
    height: 10px;
    position: relative;
    top: 1px;
    right: -5px;
    transition: 0.2s ease-in-out transform;
}

quick-variant-selector component-tooltip.active [data-tooltip-trigger] .icon {
    transform: rotate(180deg) scale(1.5);
}
