.gallery-slider {
    padding-top: 27px;
    padding-bottom: 38px;
}

.gallery-slider  .carousel__heading-wrapper {
    text-align: left;
    padding: 0px 0 48px;
}

/* @include tablet */
@media (min-width: 600px) { 
    .gallery-slider {
        padding-top: 37px;
        padding-bottom: 48px;
    }
}

