.instagram {
    padding-top: 48px;
    padding-bottom: 129px;
}

.instagram__heading {
    margin-bottom: 50px;
}

.instagram__title {
    margin-bottom: 8px;
}

.instagram__description {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}


/* @include mobile */
@media (max-width: 599px) { 
    .instagram .eapps-instagram-feed-posts-slider-inner{
        width: 510px !important;
    }
}

/* @include tablet */
@media (min-width: 600px) { 
    .instagram__description {
        flex-direction: row;
        justify-content: space-between;
    }
}


