/*
  Search page
*/

.search__heading-wrapper {
    text-align: center;
    display: block;
    width: 100%;
    padding: 25px 0;
}

.search__title--no-result {
    margin-bottom: 0;
    padding-top: 30px;
}

.search-bar-wrapper {
    display: none;
    margin: 30px 0;
}

.search-bar-wrapper.no-search {
    display: block;
    margin: 0 auto 120px;
    max-width: 430px;
}

.search__footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 80px;
}

.no-search .instant-search {
    z-index: 9;
    border: 1px solid var(--color-border);
    max-height: calc(100vh - 300px);
}

.search .product-grid {
    padding: 34px 0;
}

.search__filters {
    z-index: 11;
}

.search__filters-button {
    font-size: 14px;
    text-align: center;
    color: var(--color-text);
    background: var(--color-white);
    width: 100%;
    padding: 15px;
}

.search__filters-button:hover {
    outline: none;
    background: var(--color-white);
    text-decoration: underline;
}

.search__filters-button .count-bubble[data-filter-count='0'] {
    display: none;
}

.search__filters-button .count-bubble:before {
    content: '(' attr(data-filter-count) ')'; 
    display: inline-block;
}

.search__filters-product-count {
    margin: 0;
}

.search__breadcrumbs {
    margin-right: auto;
}

.search .breadcrumbs {
    text-transform: uppercase;
    top: -13px;
    display: block;
    position: relative;
}

@media (max-width: 599px) { 
    .search__filters {
        max-width: 400px;
        margin: auto;
        border: 2px solid var(--color-border);
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
    }
}

@media (min-width: 600px) {

    .search .product-grid {
        padding: 34px 0;
    }

    .search__filters {
        text-align: end;
        width: max-content;
        margin-left: auto;
    }

    .search__filters-button {
        padding: 0;
        background: transparent;
    }

    .search__filters-product-count {
        float: left;
    }

    .search__header {
        position: sticky;
        top: 95px;
        z-index: 10;
        padding-bottom: 10px;
        background: white;
    }

}

@media (min-width: 750px) {

    .search__heading-wrapper {
        padding: 50px 0 35px;
    }

    .search-bar-wrapper {
        margin-bottom: 40px;
    }

    .search-bar-wrapper.no-search {
        max-width: 530px;
    }

    .no-search .instant-search {
        max-height: calc(100vh - 350px);
    }

}

@media (min-width: 1200px) { 

    .search-bar-wrapper.no-search {
        max-width: 630px;
    }

}