/*
    Cart Page
*/
.cart-page {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.cart-page__empty-message {
    text-align: center;
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
}

.cart-page__empty-message button {
    margin: 20px auto 0;
}

.cart-page table {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.cart-page th {
    font-weight: normal;
    text-transform: uppercase;
    font: 10px;
    line-height: 12px;
    text-align: left;
}

.cart-page th {
    padding: 27.5px 22px;
}

.cart-page th:first-child,
.cart-page td:first-child {
    padding-left: 0;
}

.cart-page th:last-child,
.cart-page td:last-child {
    padding-right: 0;
}

.cart-page__product-quantity {
    max-width: 110px;
}

.cart-page__product-information {
    display: flex;
}

.cart-page__product-image {
    flex: 8rem 0 0;
}

.cart-page__product-image a:not(.cart-page__product-remove),
.cart-page__product-image img {
    display: block;
}

.cart-page__product-description {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin-left: 20px;
}

.cart-page__product-description a {
    text-decoration: none;
}

.cart-page__product-description a:hover {
    text-decoration: underline;
}

.cart-page__product-options,
.cart-page__product-properties {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 12px;
}

.cart-page__product-description > *,
.cart-page__product-options > *,
.cart-page__product-properties > * {
    margin-bottom: 6px;
}

.cart-page__product-properties,
.cart-page__product-options,
.cart-page__product-remove,
.cart-item__original-price,
.cart-page__allow-tax-text {
    color: #767676 !important;
}

.cart-page__product-price {
    line-height: 12px;
}

.cart-item__original-price {
    display: inline-block;
}

.cart-page__product-remove {
    text-transform: capitalize;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.cart-page__subtotal {
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}

.cart-page__checkout-button {
    width: 100%;
}

.cart-page__summary-title {
    padding-top: 27.5px;
    font-weight: 400;
    text-transform: uppercase;
    display: none;
    font-size: 14px;
    line-height: 12px;
}

.cart-page__continue-shopping {
    margin-top: 1em;
    display: block;
    font-size: 14px;
    line-height: 14px;
}

.cart-page__cart-extra {
    margin-top: 20px;
}

.accordion__heading svg {
    width: 15px !important;
    height: 15px !important;
}

.cart-page__allow-tax-text {
    font-size: 14px;
    line-height: 12px;
}

.cart-page__error-message {
    font-style: italic;
    display: none;
    padding: 10px;
    background-color: #ebebeb;
}

.cart-page__error-message.active {
    display: block;
}

.cart-page__label .label__content {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid var(--color-text);
    display: inline-block;
}

/* @include mobile */
@media (max-width: 599px) { 
    .hide-mobile {
        display: none;
    }

    .hide-tablet .cart-page__product-price {
        margin-bottom: 20px;
    }

    .hide-tablet .cart-item__total-price {
        margin-top: 10px;
    }

    .cart-page__product-remove {
        margin-top: 15px;
    }

    thead {
        display: none !important;
    }

    .cart-page__row {
        margin-bottom: 15px;
        display: block;
    }

    .cart-item__original-price {
        display: inline-block;
        margin-left: 5px;
    }

    .cart-page__label.cart-page__label--mobile {
        margin-bottom: 6px;
    }
}

/* @include tablet */
@media (min-width: 600px) { 
    .cart-page__product-image {
        padding-right: 1rem;
        padding-bottom: 1rem;
        //flex: 8rem 0 0;
    }

    .cart-page__product-description {
        margin-left: 0;
    }

    .cart-page td {
        padding: 0 22px;
        vertical-align: top;
    }

    .hide-tablet {
        display: none;
    }

    .cart-page__product-remove {
        margin-top: 20px;
    }

    .cart-item__original-price {
        display: block;
        margin-top: 8px;
    }
}

/* @include desktop */
@media (min-width: 900px) { 
    .cart-page__form {
        display: flex;
    }
    
    .cart-page__label{
        margin-bottom: 21px;
    }
    .cart-page__form-products {
        width: 65%;
    }

    .cart-page__form-buttons {
        width: 27%;
        margin-left: 8%;
    }

    .cart-page__product-image {
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        flex: 50% 0 0;
    }

    .cart-page__summary-title { 
        display: block;
    }
}

/* @include desktop-large */
@media (min-width: 1200px) {
    .cart-page__product-image {
        padding-right: 2rem;
        flex: 12rem 0 0;
    }
    
    .cart-page__label{
        position: relative;
        top: 10px;
    }
}