.section-products-slider {
    padding-bottom: 36px;
}

.section-products-slider .carousel__heading-wrapper {
    text-align: left;
    padding: 17px 0 41px;
}


.section-products-slider .swiper-slide button.btn-link {
    padding-top: 15px;
    font-weight: bold;
}


/* @include tablet */
@media (min-width: 600px) { 
    .section-products-slider {
        padding-bottom: 56px;
    }
}

/* @include mobile */
@media (max-width: 599px) { 
    .section-products-slider .swiper-slide button.btn-link {
        display: block;
    }
}


