.question__container {
  margin: 0 auto;
}

.question__header {
  text-align: center;
  padding-top: 10px;
}

.question__content {
  margin: 0 15%;
}

.question__item{
  padding: 17px 0;
}

.question__item-header{
  margin: 15px 0;
  font-weight: bold;
}

.question__item:nth-child(even) {
  padding: 17px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.question__item:last-child {
  border-bottom: none;
}
