.related-products {
    padding-bottom: 120px;
    padding-top: 46px;
    margin-bottom: -55px;
    background: #F4F4F4;
    display: block;
}

.cart-related-products .related-products {
    background: var(--color-white);
}

.related-products.hidden {
    display: none;
}

.related-products__heading {
    margin-bottom: 55px;
}