.size-table {
    position: absolute;
    right: 0;
    top: 19px;
}

.btn-small-size{
    font-size: 14px;
}

.size-table button{
    display: none;
}

.size-table button.with-modal{
    display: block;
}