.debug [aria-hidden=false]:before {
  content: "aria-hidden=false";
  display: block;
  background: #00ff2a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 5px;
}
.debug [aria-hidden=true]:before {
  content: "aria-hidden=true";
  display: block;
  background: #ff4400;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 5px;
}

.accordion {
  border-top: 1px solid var(--color-border);
  padding-bottom: 17px;
}
.accordion__item .icon {
  width: 22px;
  height: 22px;
  align-self: end;
  fill: var(--color-text);
}
.accordion__item .icon-less {
  display: none;
}
.accordion__item.active {
  transition: max-height 0.55s ease-in;
}
.accordion__item.active .icon-add {
  display: none;
}
.accordion__item.active .icon-less {
  display: block;
}
.accordion__item.active .accordion__content {
  transition: max-height 0.35s ease-in;
}
.accordion__heading {
  padding: 0px;
  margin: 17px 0 15px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  background: var(--color-white);
  color: var(--color-text);
}
.accordion__heading:hover {
  outline: none;
}
.accordion__heading:hover .icon {
  fill: var(--color-text);
}
.accordion__heading:active {
  text-decoration: none;
}
.accordion__content {
  font-size: 14px;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
}
.accordion--white {
  color: var(--color-white);
  border-top: none;
  padding: 13px 0px;
}
.accordion--white .accordion__heading {
  background: var(--btn-background);
  color: var(--color-white);
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
.accordion--white .accordion__heading .icon {
  fill: var(--color-white);
}
.accordion--white .accordion__heading:hover {
  fill: var(--color-white);
}
.accordion--inverted {
  padding: 8px 0px;
}
.accordion--inverted .icon {
  width: 10px;
  height: 10px;
  margin-right: 11px;
  align-self: center;
}
.accordion--inverted .accordion__heading {
  padding: 8px 0px;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
}
.accordion--inverted .accordion__content {
  font-size: 12px;
  line-height: 14px;
}

.quantity-selector {
  position: relative;
  max-height: 40px;
}
.quantity-selector label {
  display: none;
}
.quantity-selector button {
  background: transparent;
  display: inline-block;
  color: var(--color-text);
}
.quantity-selector button .icon {
  fill: var(--color-text);
}
.quantity-selector__quantity {
  padding: 8px 16px;
  text-align: center;
  max-width: 100%;
  -moz-appearance: textfield;
  /* Firefox */
  /* Chrome, Safari, Edge, Opera */
}
.quantity-selector__quantity::-webkit-outer-spin-button, .quantity-selector__quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-selector__minus, .quantity-selector__plus {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  line-height: 0;
  height: 100%;
  width: 40%;
  cursor: pointer;
  padding: 0;
}
.quantity-selector__plus {
  right: 0;
}
.quantity-selector__minus {
  left: 0;
}

.banner-overlay {
  position: relative;
  margin-bottom: 6.24em;
}
@media (max-width: 599px) {
  .banner-overlay {
    margin-bottom: 5.4em;
  }
}
.banner-overlay__container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.banner-overlay__position-top {
  align-items: flex-start;
}
.banner-overlay__position-middle {
  align-items: center;
}
.banner-overlay__position-bottom {
  align-items: flex-end;
}
@media (min-width: 900px) {
  .banner-overlay__position-bottom .banner-overlay__text-container {
    margin: 30px 60px;
  }
}
.banner-overlay__align-left {
  justify-content: flex-start;
}
.banner-overlay__align-right {
  justify-content: flex-end;
}
.banner-overlay__align-center {
  justify-content: center;
  text-align: center;
}
.banner-overlay__text-container {
  margin: 20px;
}
@media (min-width: 600px) {
  .banner-overlay__text-container {
    max-width: 40%;
  }
}
@media (min-width: 900px) {
  .banner-overlay__text-container {
    margin: 30px 60px 38px;
  }
}
.banner-overlay__title {
  margin: 0;
}
.banner-overlay__subtitle {
  margin-bottom: 0;
}
.banner-overlay__button {
  margin-top: 24px;
}
@media (max-width: 599px) {
  .banner-overlay__button {
    margin-top: 37px;
  }
}
.banner-overlay__small h1 {
  letter-spacing: 0;
  font-size: 25px;
  line-height: 16px;
}
.banner-overlay__small p {
  font-size: 14px;
  line-height: 14px;
}
.banner-overlay__small button {
  margin-top: 24px;
}
.banner-overlay__link.btn-link:hover {
  text-decoration: none;
}
.banner-overlay__link.btn-link:active, .banner-overlay__link.btn-link:focus {
  color: #767676;
}
@media (max-width: 599px) {
  .banner-overlay.mobile-disable-overlay .banner-overlay__image {
    padding: 18px;
  }
  .banner-overlay.mobile-disable-overlay .banner-overlay__container {
    position: relative;
  }
  .banner-overlay.mobile-disable-overlay .banner-overlay__link,
.banner-overlay.mobile-disable-overlay .banner-overlay__text-container {
    color: var(--color-text) !important;
  }
}

.mini-cart-container .minicart-overlay.active {
  z-index: 101;
}

body.active-mini-cart {
  overflow: hidden;
}

.mini-cart {
  position: fixed;
  top: 0;
  right: -400px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  z-index: 9999999999;
  background: var(--color-white);
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: transform;
  will-change: transform;
  padding: 21px 35px 34px 35px;
}
.mini-cart form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 599px) {
  .mini-cart {
    right: -320px;
    max-width: 320px;
    padding: 26px 30px 24px 15px;
  }
}
.mini-cart.active {
  transform: translateX(-100%);
}
.mini-cart__header {
  display: flex;
  flex-direction: column;
}
.mini-cart__header .icon-close,
.mini-cart__header .close {
  margin-left: auto;
  cursor: pointer;
}
.mini-cart .close {
  color: var(--btn-background);
  padding: 5px;
  margin-right: -5px;
  line-height: 0;
}
.mini-cart .close .icon-close,
.mini-cart .close .icon-trash {
  stroke: var(--color-text);
  fill: var(--color-text);
}
.mini-cart .close svg {
  width: 18px;
  height: 18px;
}
.mini-cart__item-remove a {
  cursor: pointer;
}
.mini-cart__items {
  flex-grow: 1;
  padding-top: 28px;
  overflow-y: auto;
}
.mini-cart__items::-webkit-scrollbar {
  width: 8px;
}
.mini-cart__items::-webkit-scrollbar-thumb {
  background: #DADADA;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}
.mini-cart__items::-webkit-scrollbar-thumb:hover {
  background: #767676;
}
.mini-cart__item {
  padding: 18px 0 22px;
  display: flex;
  flex-wrap: wrap;
}
.mini-cart__item:first-child {
  padding-top: 0;
}
.mini-cart__item:last-child {
  padding-bottom: 0;
}
.mini-cart__item-image-content {
  flex: 1 0 37%;
}
.mini-cart__item-image {
  width: 100%;
}
.mini-cart__item-details {
  flex: 1 0 61%;
  padding: 0 5px 0px 24px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
}
.mini-cart__item-name {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-decoration: none;
}
.mini-cart__item-options {
  color: var(--price-compare);
  padding-bottom: 7px;
}
.mini-cart__item-price {
  font-weight: bold;
  padding-bottom: 7px;
}
.mini-cart__item-qty {
  max-width: 110px;
  margin: auto 0px 5px;
}
.mini-cart__item-remove button {
  font-size: 12px;
  line-height: 14px;
  color: var(--price-compare);
  padding: 0px;
  margin-top: 12px;
}
.mini-cart__footer {
  padding-top: 24px;
  font-size: 14px;
  line-height: 14px;
}
.mini-cart__footer-subtotal {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 19px;
}
.mini-cart__footer-info {
  display: flex;
}
.mini-cart__footer-info--right {
  flex: 0 0 50%;
  text-align: end;
}
.mini-cart__footer-info--left {
  flex: 0 0 50%;
  text-align: start;
}
.mini-cart__footer-info a {
  font-size: 1em;
}
@media (max-width: 599px) {
  .mini-cart__footer-info a {
    font-size: 0.85em;
  }
}
.mini-cart__footer .btn {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 19px;
}
.mini-cart__toggle {
  text-decoration: none !important;
  position: relative;
}
.mini-cart__toggle.start_animation .mini-cart__count {
  height: 30px;
  width: 82px;
  background: var(--btn-secondary-background);
}
.mini-cart__count {
  background: var(--color-text);
  border-radius: 50px;
  color: white;
  text-align: center;
  padding-top: 2px;
  right: 0;
  bottom: 0;
  display: flex;
  width: 22px;
  height: 22px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mini-cart__count--large {
  width: 22px;
  height: 22px;
}
.mini-cart__count--extra-large {
  font-size: 8px;
}
.mini-cart__error-message {
  display: none;
  text-align: center;
  padding: 16px 18px 10px 18px;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}
.mini-cart__error-message.active {
  display: block;
}
.mini-cart__product-added-message {
  font-size: 32px;
  line-height: 40px;
  display: none;
}
.mini-cart__product-added-message.active {
  display: block;
  padding: 18px 0 0;
}
@media (max-width: 599px) {
  .mini-cart__product-added-message {
    font-size: 30px;
    line-height: 40px;
  }
}
.mini-cart__free-shipping-bar {
  padding-top: 20px;
}
.mini-cart__free-shipping-bar .progress-bar .fspb-container {
  margin-bottom: 0 !important;
}
@media (max-width: 599px) {
  .mini-cart__free-shipping-bar {
    padding-top: 24px;
  }
}

.global-overlay {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  display: block;
  position: fixed;
  z-index: 99;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: opacity;
  will-change: opacity;
  transform: translateX(-100%);
  opacity: 0;
}
.global-overlay.active {
  transform: translateX(0);
  opacity: 1;
}
@media (min-width: 1200px) {
  body.active-menu .global-overlay {
    top: 50px;
  }
}

.product-single {
  padding-bottom: 85px;
}
@media (min-width: 600px) {
  .product-single {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
@media (min-width: 600px) {
  .product-single__media {
    width: 50%;
    top: 120px;
    position: sticky;
    padding-top: 15px;
  }
}
@media (min-width: 900px) {
  .product-single__media {
    width: calc(100% - 405px);
  }
}
@media (min-width: 600px) {
  .product-single__details {
    padding-top: 28px;
    width: 50%;
    padding-left: 57px;
  }
}
@media (min-width: 900px) {
  .product-single__details {
    width: 405px;
    padding-right: 48px;
  }
}
@media (min-width: 600px) {
  .product-single__details-wrapper {
    max-width: 310px;
  }
}
.product-single__title {
  padding: 15px 0 8px;
  margin-bottom: 0px;
}
@media (max-width: 599px) {
  .product-single__title {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .product-single__title {
    padding: 0px;
    font-size: 25px;
  }
}
@media (min-width: 900px) {
  .product-single__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 599px) {
  .product-single__price {
    display: none;
  }
}
@media (min-width: 900px) {
  .product-single__price {
    width: 100%;
    font-size: 20px;
  }
}
.product-single__price--compared {
  text-decoration-line: line-through;
  padding-left: 7px;
  color: var(--price-compare);
}
.product-single__price--current:hover {
  color: var(--btn-secondary-background);
}
.product-single__share {
  width: 100%;
  font-size: 12px;
}
.product-single__share:hover {
  text-decoration: underline;
}
@media (min-width: 600px) {
  .product-single__share {
    display: none;
    margin: 0;
  }
}
.product-single__share .share-button__button {
  font-size: 14px;
  text-decoration: underline;
  text-align: right;
}
.product-single__share--footer {
  margin: 0;
}
.product-single__share--footer .share-button__button {
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}
@media (min-width: 600px) {
  .product-single__share--footer {
    display: block;
    padding-bottom: 36px;
  }
}
.product-single__description {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .product-single__description {
    position: relative;
    padding: 0px;
  }
  .product-single__description.hidden::before {
    display: block;
  }
  .product-single__description-btn {
    position: absolute;
    bottom: -10px;
    right: 5px;
    padding: 1px;
    background-color: var(--color-white);
    color: var(--color-text);
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-decoration: underline;
    z-index: 2;
    display: block;
    width: auto;
    margin: 0px;
  }
  .product-single__description.active .product-single__description-text {
    transition: max-height 0.55s ease-in;
  }
  .product-single__description.active .product-single__description-text::before {
    display: none;
  }
  .product-single__description.active .product-single__description-btn {
    bottom: -22px;
    font-size: 0px;
  }
  .product-single__description.active .product-single__description-btn::before {
    content: "See less";
    font-size: 12px;
    text-decoration: underline;
  }
  .product-single__description--fully-visible button {
    display: none;
  }
  .product-single__description--fully-visible .product-single__description-text:before {
    background: transparent;
  }
}
.product-single__description-text {
  display: block;
}
@media (min-width: 600px) {
  .product-single__description-text {
    max-height: 55px;
    overflow: hidden;
    transition: max-height 0.55s ease-out;
  }
  .product-single__description-text::before {
    content: " ";
    height: 55px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%);
  }
}
.product-single .accordion {
  border-top: none;
  padding-bottom: 22px;
}
@media (min-width: 600px) {
  .product-single .accordion {
    padding-bottom: 10px;
  }
}
@media (min-width: 900px) {
  .product-single--half {
    position: relative;
    width: 100vw;
    left: calc(-50vw - -50%);
  }
  .product-single--half .product-single__media,
.product-single--half .product-single__details {
    width: 50%;
  }
  .product-single--floating .product-single__details {
    position: sticky;
    top: 98px;
  }
  .product-single--floating .product-single__details-wrapper {
    max-width: 480px;
  }
  .product-single--floating .product-single__media {
    padding-top: 36px;
  }
  .product-single--floating .swiper-gallery-pagination {
    display: none !important;
  }
  .product-single--floating .gallery__thumbnails {
    display: none;
  }
  .product-single--floating .gallery {
    max-width: none;
    display: block;
  }
  .product-single--floating .swiper-wrapper {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
  .product-single--floating .gallery__item {
    margin-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .product-single--floating .product-single__details {
    padding-left: 133px;
    padding-right: 106px;
  }
}

.product-form {
  padding: 22px 0 38px;
  display: block;
}
@media (max-width: 599px) {
  .product-form {
    padding: 22px 0 8px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .product-form {
    padding: 22px 0 0px;
  }
}
@media (min-width: 900px) {
  .product-form {
    padding: 35px 0 0;
  }
}
@media (min-width: 600px) {
  .product-form form {
    display: flex;
    flex-direction: column;
  }
}
.product-form__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
@media (max-width: 599px) {
  .product-form__controls {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 15px 30px;
    left: 0;
    z-index: 5;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) {
  .product-form__controls {
    order: 3;
    padding-top: 20px;
  }
}
@media (min-width: 900px) {
  .product-form__controls {
    padding-top: 0px;
  }
}
.product-form__title {
  width: 100%;
}
@media (min-width: 600px) {
  .product-form__title {
    display: none;
  }
}
@media (min-width: 600px) {
  .product-form__price {
    display: none;
  }
}
.product-form__price--compared {
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #767676;
}
.product-form__actions {
  width: 100%;
  display: flex;
}
@media (max-width: 599px) {
  .product-form__actions {
    padding-top: 15px;
  }
}
.product-form__buttons {
  flex: 0 1 100%;
  margin-left: 19px;
}
.product-form__buttons button {
  width: 100%;
}
.product-form .button {
  width: 100%;
  display: block;
}
.product-form .button--add-to-cart-content {
  display: inline-block;
}
.product-form .button--out-of-stock {
  display: none;
}
.product-form .button--out-of-stock.active {
  display: inline-block;
}
.product-form .button--out-of-stock.active .icon-bag {
  display: inline-block;
}
.product-form .button--out-of-stock.active + div {
  display: none;
}
.product-form__quantity {
  max-width: 110px;
  width: 100%;
}
.product-form__quantity .quantity-selector {
  max-height: 46px;
}
.product-form__quantity .quantity-selector__quantity {
  padding: 11px 16px;
}
.product-form__tags {
  padding: 0px 0 10px;
}
@media (min-width: 600px) and (max-width: 899px) {
  .product-form__tags {
    padding: 0 0 20px;
  }
}
.product-form__swatches {
  position: relative;
}
.product-form .label__content {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 9px;
  border: 1px solid var(--color-text);
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
}
.product-form__error-message {
  margin: 20px 0px;
}
@media (min-width: 900px) {
  .product-form__error-message {
    margin: 14px 0px;
  }
}
.product-form__share-button {
  width: 100%;
  text-align: right;
  margin-top: -18px;
}
.product-form__share-button .share-button__button {
  text-decoration: underline;
  text-align: right;
}
.product-form__share-button .share-button__details {
  font-size: 14px;
  line-height: 14px;
}
.product-form__share-button .field__input {
  max-width: 100%;
}

.carousel {
  overflow: hidden;
  width: calc(100% + 30px);
  margin: 0 0 0 -15px;
  padding: 0 0 40px 0;
}
@media (min-width: 600px) {
  .carousel {
    width: calc(100% + 40px);
    margin: 0 0 0 -20px;
  }
}
@media (min-width: 900px) {
  .carousel {
    width: calc(100% + 140px);
    margin: 0 0 0 -70px;
    padding: 0 50px 0;
  }
}
.carousel img {
  display: block;
}
.carousel__wrapper {
  padding: 0;
}
.carousel__heading-wrapper {
  text-align: center;
  display: block;
  width: 100%;
  padding: 25px 0 35px;
}
@media (min-width: 900px) {
  .carousel__heading-wrapper {
    padding: 50px 0 45px;
  }
}
.carousel__heading {
  margin: 0;
}
.carousel__item {
  width: 100%;
  padding: 0 20px;
  opacity: 1;
  transition: 0.4s ease-in-out opacity;
  /*@include desktop {

      &.is-selected {
          opacity: 1;
      }

      &:not(.is-selected) {
          opacity: 0;
      }
  }*/
}
.carousel__item-container {
  border: 1px solid #C8C8C8;
}
.carousel__loading .carousel {
  opacity: 0;
  transition: 1s ease-in-out opacity;
}
.carousel__loading.active .carousel {
  opacity: 1 !important;
}
.carousel__hero {
  overflow: hidden;
}
.carousel__hero .carousel {
  width: 100%;
  padding: 0;
  margin: 0;
}
.carousel__hero .carousel__item {
  opacity: 1 !important;
  padding: 0 !important;
}

body.modal-active {
  overflow: hidden;
}

.modal__container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--color-overlay);
  opacity: 0;
  visibility: hidden;
  will-change: visibility, opacity;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__container.active {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.modal__content {
  background-color: var(--color-white);
  padding: 50px 25px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-height: 90%;
}
@media (min-width: 600px) {
  .modal__content {
    padding: 55px 70px 55px 60px;
  }
}
.modal__content--full-screen {
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.modal__content--large {
  max-width: 90%;
}
@media (min-width: 600px) {
  .modal__content--large {
    max-width: 80%;
  }
}
@media (min-width: 900px) {
  .modal__content--large {
    max-width: 60%;
  }
}
.modal__content--default {
  max-width: 90%;
}
@media (min-width: 900px) {
  .modal__content--default {
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  .modal__content--default {
    max-width: 40%;
  }
}
.modal__content--small {
  max-width: 90%;
  padding: 30px 45px 30px 35px;
}
@media (min-width: 600px) {
  .modal__content--small {
    max-width: 60%;
    padding: 35px 60px 35px 50px;
  }
}
@media (min-width: 900px) {
  .modal__content--small {
    max-width: 30%;
  }
}
@media (min-width: 1200px) {
  .modal__content--small {
    max-width: 25%;
  }
}
.modal__content::-webkit-scrollbar {
  width: 8px;
}
.modal__content::-webkit-scrollbar-thumb {
  background: #DADADA;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}
.modal__content::-webkit-scrollbar-thumb:hover {
  background: #767676;
}
.modal__content img {
  width: 100%;
  max-width: 350px;
}
.modal__close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 21px 17px;
}
.modal__close .icon-close {
  fill: #767676;
}

.search-bar__form {
  display: flex;
  align-items: center;
  position: relative;
}
.search-bar__submit-wrapper {
  position: absolute;
  left: 15px;
}
.search-bar__submit-wrapper .icon-search {
  width: 32px;
  height: 32px;
  transform: scale(1);
}
.search-bar__submit {
  padding: 0;
  margin: 0;
  display: block;
}
.search-bar__input-wrapper {
  width: 100%;
  background: white;
}
.search-bar__input {
  max-width: 100%;
  margin: 0;
  padding-left: 59px;
  padding-right: 50px;
  font-weight: bold;
}
.search-bar__input[type=search]::-webkit-search-decoration, .search-bar__input[type=search]::-webkit-search-cancel-button, .search-bar__input[type=search]::-webkit-search-results-button, .search-bar__input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.search-bar__actions {
  position: absolute;
  right: 15px;
}
.search-bar__close {
  padding: 0;
  margin: 0;
  display: none;
}

.tooltip {
  position: relative;
}
@media (min-width: 600px) {
  .tooltip {
    display: flex;
    justify-content: center;
  }
}
.tooltip.align-right {
  justify-content: flex-end;
}
@media (min-width: 600px) {
  .tooltip.align-right .tooltip__title-link {
    margin-right: 20px;
  }
}
.tooltip.align-left {
  justify-content: flex-start;
}
.tooltip__title-link {
  text-decoration: underline !important;
  font-size: 14px;
  line-height: 20px;
}
.tooltip__items {
  background-color: white;
  padding: 12px 10px 10px 10px;
  display: none;
  position: absolute;
  z-index: 5000;
  margin-top: 30px;
}
.tooltip__items::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  top: -22px;
  transform: rotate(90deg);
  border: 12px solid transparent;
  border-right-color: white;
}
.tooltip__items.active {
  display: block;
}
.tooltip__items.align-right {
  right: 20px;
}
.tooltip__items.align-right::before {
  right: 15%;
}
.tooltip__items.align-left {
  left: 0;
}
.tooltip__items.align-left::before {
  left: 15%;
}
.tooltip__items:not(.align-left):not(.align-right)::before {
  right: calc(50% - 12px);
}
.tooltip__overlay.active {
  background: transparent;
}

.instant-search {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-height: calc(100vh - 120px);
  background-color: #FFF;
  font-size: 14px;
  line-height: 14px;
  z-index: 1000;
  overflow-y: auto;
  margin-top: -1px;
  border: none;
  padding: 40px 26px 26px;
  display: none;
}
@media (max-width: 599px) {
  .instant-search {
    max-height: calc(100vh - 80px);
    top: 84px;
    padding: 0 26px 26px;
    left: -15px;
    width: 100vw;
  }
}
.instant-search.active {
  display: block;
}
.instant-search-dictionary {
  margin-bottom: 32px;
}
.instant-search-dictionary__heading {
  margin-bottom: 18px;
  font-weight: bold;
}
.instant-search-dictionary__results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.instant-search-dictionary__item {
  margin-bottom: 11px;
}
.instant-search-dictionary__item-heading {
  font-size: 16px;
  line-height: 16px;
  color: #767676;
}
.instant-search-dictionary__item-link {
  text-decoration: none;
}
.instant-search-suggestions__heading {
  margin-bottom: 25px;
  font-weight: bold;
}
.instant-search-suggestions__wrapper:not(:first-of-type) {
  margin-top: 40px;
}
.instant-search-suggestions__results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.instant-search-suggestions__item {
  margin-bottom: 20px;
}
.instant-search-suggestions__item-link {
  display: flex;
  text-decoration: none;
}
.instant-search-suggestions__item-image {
  width: 100%;
  display: block;
}
.instant-search-suggestions__item-image-wrapper {
  width: 30%;
  max-width: 100px;
}
.instant-search-suggestions__item-text-wrapper {
  width: 70%;
  padding-left: 14px;
}
.instant-search-suggestions__brand, .instant-search-suggestions__price, .instant-search-suggestions__item-heading {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}
.instant-search-suggestions__item-heading:hover {
  text-decoration: underline;
}
.instant-search-suggestions__brand {
  text-transform: uppercase;
}
.instant-search-suggestions__old-price {
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #767676;
  margin-left: 4px;
}
.instant-search-suggestions__view-all {
  text-decoration: none;
  display: inline-block;
  background: 0;
  color: var(--btn-background);
  margin: 14px 0 10px;
  padding: 0;
  font-weight: normal;
}
.instant-search-suggestions__view-all span {
  border-bottom: 1px solid;
}
.instant-search-suggestions__view-all svg {
  width: 20px;
  height: 20px;
  margin-left: 14px;
  fill: var(--btn-background);
  stroke: var(--btn-background);
  transform: none;
  position: relative;
  top: 5px;
}
.instant-search-suggestions__view-all:hover {
  outline: none;
}
.instant-search-events:before {
  content: "";
  display: block;
  height: 1px;
  margin: 16px 0;
  background-color: var(--color-border);
}
.instant-search-events__link {
  text-decoration: none;
  text-transform: uppercase;
}
.instant-search__no-result {
  margin: 0;
}
@media (min-width: 900px) {
  .instant-search {
    border: 1px solid var(--color-border);
    border-top: none;
  }
}

.popup {
  background: var(--color-white);
  position: fixed;
  width: 298px;
  height: 98px;
  right: 16px;
  bottom: 80px;
  border: 1px solid rgba(218, 218, 218, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  z-index: 1;
  visibility: hidden;
}
@media (min-width: 900px) {
  .popup.active {
    visibility: visible;
    opacity: 1;
  }
}
.popup span {
  display: block;
}
.popup__close {
  position: absolute;
  top: 8px;
  right: 8px;
  text-decoration: none;
  font-size: 14px;
  color: #767676;
  cursor: pointer;
}
.popup__banner {
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  color: #D22026;
}
.popup__title {
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
}
.popup__description {
  font-size: 14px;
  line-height: 20px;
  color: #767676;
}

.filters {
  position: fixed;
  top: 0;
  right: -375px;
  width: 100%;
  max-width: 375px;
  height: 100%;
  z-index: 9999999999;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 33px 0 25px;
  border-left: 1px solid #f7f7f7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: transform;
  will-change: transform;
}
@media (min-width: 900px) {
  .filters {
    padding: 42px 0 34px;
  }
}
.filters.hidden {
  display: none;
}
.filters.active {
  transform: translateX(-100%);
}
.filters-container .global-overlay.active {
  z-index: 101;
}
.filters__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 38px;
  margin-right: 15px;
  padding: 5px;
  color: #767676;
  background: 0 0;
  line-height: 0;
}
.filters__close svg {
  fill: var(--btn-background);
  stroke: var(--btn-background);
  width: 18px;
  height: 18px;
}
.filters__heading {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 32px;
}
.filters__heading .count-bubble[data-filter-count="0"] {
  display: none;
}
.filters__heading .count-bubble:before {
  content: "(" attr(data-filter-count) ")";
  display: inline-block;
}
@media (min-width: 900px) {
  .filters__heading {
    margin-bottom: 34px;
  }
}
.filters__applied {
  padding: 0 6px;
  font-size: 14px;
  line-height: 12px;
  margin: 4px 0 36px 0;
  font-weight: bold;
  font-family: "Circular Std";
  font-weight: 700;
}
@media (min-width: 900px) {
  .filters__applied {
    margin: 2px 0 39px 0;
  }
}
.filters__clear-all {
  color: #767676 !important;
  text-decoration: none;
  margin-left: 12px;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid;
  padding: 0;
  background: 0 0;
}
.filters__clear-all:active {
  text-decoration: none;
}
.filters__items {
  margin-top: 5px;
  height: calc(100vh - 197px);
  overflow-y: auto;
}
.filters__item-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 10px;
}
.filters__selected-filters {
  margin-right: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #767676;
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filters__value {
  margin-left: 9px;
  margin-right: auto;
  text-transform: uppercase;
  color: #767676;
}
.filters__text-options {
  margin: 5px 0 26px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.filters__text-option-item {
  margin: 5px;
  position: relative;
}
.filters__text-option-item input[type=checkbox] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 48px;
  margin: 0;
}
.filters__text-option-item input[type=checkbox]:focus-visible + label {
  outline: 2px solid var(--color-focus);
}
.filters__text-option-item input[type=checkbox] + label {
  font-size: 16px;
  line-height: 16px;
  background-color: var(--color-white);
  padding: 16px 8px;
  box-shadow: 0 0 0 1px #c8c8c8;
  margin: 0;
  top: 0 !important;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 48px;
  text-align: center;
}
.filters__text-option-item input[type=checkbox]:checked + label {
  box-shadow: 0 0 0 2px var(--color-text);
}
.filters__text-option-item input[type=checkbox]:hover + label {
  box-shadow: 0 0 0 1px var(--color-text);
}
.filters__list-options {
  padding: 0;
  margin: 5px 0 26px;
  list-style-type: none;
}
.filters__list-option-item {
  padding: 0;
  margin: 5px;
  position: relative;
}
.filters__list-option-item a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.filters__list-option-item-header {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}
.filters__list-option-item.selected {
  font-weight: bold;
}
.filters__list-option-item label {
  cursor: pointer;
}
.filters__list-option-item label:hover {
  text-decoration: underline;
}
.filters__list-option-item-checkbox {
  display: grid;
  grid-template-columns: 20px minmax(100px, 1fr);
  column-gap: 15px;
  margin: 0 0 12px;
}
.filters__list-option-item-checkbox input[type=checkbox] + label {
  top: 0;
  margin: 6px 0 0 0;
  text-decoration: none !important;
  text-underline-offset: 2px;
}
.filters__checkbox-option-label {
  width: calc(100% - 36px);
  cursor: pointer;
}
.filters__checkbox-option-label span {
  float: right;
  margin-top: -1px;
}
.filters__header button:hover, .filters__items button:hover {
  outline: none;
  outline-offset: 0;
}
.filters__header, .filters__items, .filters__footer {
  padding: 0 25px;
}
.filters__footer {
  margin-top: auto;
  padding-top: 16px;
}
.filters__footer .btn {
  height: 52px;
}
.filters .accordion {
  border: none;
  margin-top: 5px;
}
.filters .accordion__item.active .icon {
  transform: rotate(180deg) scale(1.5);
}
.filters .sort-by-cards.filters__text-options {
  display: flex;
  flex-direction: column;
}
.filters .sort-by-cards .filters__text-option-item {
  margin: 5px 5px 10px;
}
.filters .sort-by-cards .filters__text-option-item span {
  height: 32px;
  display: block;
  position: relative;
}
.filters .sort-by-cards .filters__text-option-item input[type=checkbox] {
  height: 100%;
}
.filters .sort-by-cards .filters__text-option-item input[type=checkbox] + label {
  display: block;
  font-size: 13px;
  line-height: 16px;
  text-transform: none;
  padding: 8px;
}
.filters .noUi-horizontal {
  height: 9px;
  margin: 10px 10px 30px;
}
.filters .noUi-horizontal .noUi-handle {
  top: -6px;
  right: -15px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: unset;
  cursor: pointer;
  transition: transform 0.1s;
}
.filters .noUi-horizontal .noUi-handle:before, .filters .noUi-horizontal .noUi-handle:after {
  content: none;
}
.filters .noUi-horizontal .noUi-handle:focus {
  box-shadow: var(--focus-visible);
}
.filters .noUi-connect {
  background: var(--color-text);
}
.filters .price-range {
  display: grid;
  grid-gap: 5px 20px;
  grid-template-columns: 1fr 1fr;
}
.filters .price-range input {
  padding: 17px 30px 15px 37px;
}
.filters .price-range-slider {
  grid-column: span 2;
}

body.quick-view-active {
  overflow: hidden;
}

.quick-view {
  display: block;
}
.quick-view__container {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 999999999;
  background: var(--color-white);
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: transform;
  will-change: transform;
  transform: translateX(0);
}
@media (min-width: 600px) {
  .quick-view__container {
    right: -400px;
    width: 400px;
  }
}
.quick-view.active .quick-view__container {
  transform: translateX(-100%);
}
.quick-view.hidden .quick-view__container {
  display: none;
}
.quick-view.active-slider .quick-view__content {
  overflow-y: auto;
}
.quick-view__close {
  background: transparent;
  position: absolute;
  z-index: 100;
  line-height: 0;
  top: 21px;
  right: 15px;
  padding: 5px;
}
.quick-view__close .icon-close {
  stroke: #767676;
  fill: #767676;
  width: 18px;
  height: 18px;
}
.quick-view__content {
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  overflow: auto;
  opacity: 0;
  transition: 0.5s ease-in-out opacity;
}
.active.loaded .quick-view__content {
  opacity: 1;
}
.quick-view__image-wrapper {
  min-height: 300px;
}
.quick-view .quick-view__carousel-item {
  width: 100%;
}
.quick-view__text-container {
  padding: 32px 30px 0;
}
@media (min-width: 600px) {
  .quick-view__text-container {
    padding-top: 32px;
  }
}
.quick-view__name {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 600px) {
  .quick-view__name {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}
.quick-view component-swatch {
  width: 100%;
}
.quick-view variant-selector {
  display: none;
}
.quick-view__price {
  line-height: 14px;
  padding-top: 8px;
}
.quick-view__price-current {
  padding-right: 7px;
  color: var(--color-primary);
}
.quick-view__price-compared {
  text-decoration-line: line-through;
  padding-left: 7px;
  color: var(--price-compare);
}
.quick-view__buttons {
  flex: 0 1 100%;
  margin-top: 32px;
  margin-left: 19px;
}
.quick-view__buttons button {
  width: 100%;
}
.quick-view__button {
  width: 100%;
  display: block;
}
.quick-view__button-add-to-cart-content {
  display: inline-block;
}
.quick-view__button-out-of-stock {
  display: none;
}
.quick-view__button-out-of-stock.active {
  display: inline-block;
}
.quick-view__button-out-of-stock.active .icon-bag {
  display: inline-block;
}
.quick-view__button-out-of-stock.active + div {
  display: none;
}
.quick-view__overlay.global-overlay {
  z-index: 101;
}
.quick-view__form {
  padding: 10px 30px 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.quick-view component-addtocart {
  width: 62%;
}
.quick-view component-addtocart .product-form__button {
  padding: 13px 0px 12px;
}
.quick-view__quantity {
  width: 32%;
}
.quick-view__quantity .quantity-selector {
  max-height: 38px;
}
.quick-view__quantity .quantity-selector__quantity {
  padding: 7px 16px;
}
.quick-view__details {
  font-size: 14px;
  line-height: 14px;
  margin-top: 26px;
}
.quick-view__carousel {
  margin: 0;
  padding: 0;
  width: 100%;
}
.quick-view .swatches__swatch--text-Color {
  display: none;
}

body.quick-add-to-cart-active {
  overflow: hidden;
}

.quick-add-to-cart {
  display: block;
}
.quick-add-to-cart__overlay.global-overlay {
  z-index: 102;
}
.quick-add-to-cart__container {
  position: fixed;
  left: 0;
  bottom: -312px;
  width: 100%;
  height: 312px;
  z-index: 999999999;
  background: var(--color-white);
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: transform;
  will-change: transform;
  transform: translateX(0);
}
.quick-add-to-cart.active .quick-add-to-cart__container {
  transform: translateY(-100%);
}
.quick-add-to-cart.hidden .quick-add-to-cart__container {
  display: none;
}
.quick-add-to-cart__close {
  background: transparent;
  position: absolute;
  z-index: 100;
  line-height: 0;
  top: 17.1px;
  right: 21.7px;
}
.quick-add-to-cart__close .icon-close {
  stroke: #767676;
  fill: #767676;
  width: 15px;
  height: 15px;
}
.quick-add-to-cart__content {
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  overflow: auto;
  opacity: 0;
  transition: 0.5s ease-in-out opacity;
  padding: 43px 22px 16px 22px;
}
.active .quick-add-to-cart__content {
  opacity: 1;
}
.quick-add-to-cart__div-header {
  display: flex;
  width: 100%;
  margin-bottom: 27px;
}
.quick-add-to-cart__image-div {
  width: 83px;
}
.quick-add-to-cart__text-container {
  padding-left: 20px;
}
.quick-add-to-cart__name {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
.quick-add-to-cart__price {
  font-size: 14px;
  line-height: 14px;
  display: block;
}
.quick-add-to-cart__price-compared {
  text-decoration-line: line-through;
  padding-left: 8px;
  color: var(--price-compare);
}
.quick-add-to-cart__select-size {
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 13px;
  color: var(--color-primary);
  text-transform: uppercase;
}
.quick-add-to-cart__quantity,
.quick-add-to-cart variant-selector,
.quick-add-to-cart .product-addtocart__button,
.quick-add-to-cart .swatches__swatch--text-Color,
.quick-add-to-cart .swatches__swatch-label {
  display: none;
}
.quick-add-to-cart__swatches {
  width: 100%;
}
.quick-add-to-cart__swatches-div {
  display: flex;
}
.quick-add-to-cart__swatches-div div {
  margin-right: 5px;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-border);
  display: table-cell;
  vertical-align: middle;
}
.quick-add-to-cart__swatches-div button {
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.quick-add-to-cart__swatches-div button:focus {
  border: 1px solid var(--color-text);
}
.quick-add-to-cart__swatches-div button[data-available=false] {
  background: #e9e9e9 !important;
  opacity: 0.5;
  color: #767676 !important;
  text-align: center;
  position: relative;
}
.quick-add-to-cart__swatches-div button[data-available=false]::before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  opacity: 0.5;
  background: white;
  background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0) 48%, #e8e8e1 48%, #e8e8e1 53%, rgba(255, 255, 255, 0) 53%);
  background: -webkit-linear-gradient(to left top, rgba(255, 255, 255, 0) 48%, #e8e8e1 48%, #e8e8e1 53%, rgba(255, 255, 255, 0) 53%);
  background: linear-gradient(to left top, rgba(255, 255, 255, 0) 48%, #a9a9a9 49%, #a9a9a9 51%, rgba(255, 255, 255, 0) 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.quick-add-to-cart__swatches-div button[data-available=false]::after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  opacity: 0.5;
  background: white;
  background: -moz-linear-gradient(to right top, rgba(255, 255, 255, 0) 48%, #e8e8e1 48%, #e8e8e1 53%, rgba(255, 255, 255, 0) 53%);
  background: -webkit-linear-gradient(to right top, rgba(255, 255, 255, 0) 48%, #e8e8e1 48%, #e8e8e1 53%, rgba(255, 255, 255, 0) 53%);
  background: linear-gradient(to right top, rgba(255, 255, 255, 0) 48%, #a9a9a9 49%, #a9a9a9 51%, rgba(255, 255, 255, 0) 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.quick-add-to-cart__start-button {
  margin-bottom: 15px;
}
@media (min-width: 600px) {
  .quick-add-to-cart__start-button {
    display: none;
  }
}

.pagination a {
  text-decoration: none;
}
.pagination__itens {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
@media (min-width: 600px) {
  .pagination__itens {
    display: block;
  }
}
.pagination .page a,
.pagination .page.current,
.pagination .deco {
  border: 1px solid var(--color-border);
  padding: 9px 13px;
  font-size: 14px;
  line-height: 26px;
  margin-right: 9px;
  vertical-align: middle;
}
@media (min-width: 600px) {
  .pagination .page a,
.pagination .page.current,
.pagination .deco {
    padding: 10px 15px;
    margin-right: 3px;
  }
}
.pagination .page a:hover {
  border: 1px solid var(--color-text);
}
.pagination .page.current {
  border: 2px solid var(--color-text);
  padding: 2px 13px;
}
@media (min-width: 600px) {
  .pagination .page.current {
    padding: 10px 15px;
  }
}
.pagination .deco {
  padding: 3px 12px;
}
@media (min-width: 600px) {
  .pagination .deco {
    padding: 10px 11px;
  }
}
.pagination .icon-arrow {
  vertical-align: bottom;
  width: 22px;
  height: 22px;
}
@media (min-width: 600px) {
  .pagination .icon-arrow {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
}
.pagination__arrow-right {
  margin: 0 0 0 3px;
}
@media (min-width: 600px) {
  .pagination__arrow-right {
    margin: 0 0 0 10px;
  }
}
.pagination__arrow-left {
  margin: 0 3px 0 0;
}
@media (min-width: 600px) {
  .pagination__arrow-left {
    margin: 0 10px 0 0;
  }
}
.pagination__arrow-left .icon-arrow {
  transform: rotate(180deg);
}
.pagination .next, .pagination .prev {
  display: none;
}

#shopify-section-footer::before {
  content: "";
  display: block;
  height: 60px;
  width: 100%;
  background-image: var(--footer-img);
  margin-bottom: -21px;
  margin-top: 21px;
}
@media (min-width: 600px) {
  #shopify-section-footer::before {
    margin-bottom: -2px;
  }
}

.footer {
  background-color: var(--footer-background);
  color: var(--color-white);
}
@media (max-width: 599px) {
  .template-product .footer {
    padding-bottom: 230px;
  }
}
.footer a {
  color: var(--color-white);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__container {
  max-width: 450px;
}
@media (min-width: 600px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    max-width: var(--container-max-width);
  }
}
.footer__newsletter {
  flex: 0 0 45%;
}
@media (min-width: 900px) {
  .footer__newsletter {
    flex: 0 0 35%;
  }
}
.footer__newsletter-title {
  padding-bottom: 7px;
}
@media (min-width: 600px) {
  .footer__newsletter-title {
    padding-bottom: 23px;
    max-width: 390px;
  }
}
.footer__newsletter-text {
  padding-bottom: 13px;
}
@media (min-width: 600px) {
  .footer__newsletter-text {
    max-width: 390px;
    padding-bottom: 18px;
  }
}
.footer__newsletter input {
  background: transparent;
  margin-bottom: 15px;
  padding: 22px 47px 20px 37px;
  color: var(--color-white);
  max-width: 100%;
}
@media (min-width: 600px) {
  .footer__newsletter input {
    padding: 15px 47px 14px 37px;
    max-width: 390px;
  }
}
.footer__newsletter-btn {
  background: var(--color-white);
  color: var(--color-text);
  width: 100%;
  margin-bottom: 40px;
  padding: 24px 40px 21px;
}
@media (min-width: 900px) {
  .footer__newsletter-btn {
    width: 146px;
    padding: 16px 34px 15px;
  }
}
.footer__newsletter-btn:hover {
  background: var(--color-white);
}
.footer .social-links {
  flex-direction: column;
}
@media (min-width: 600px) {
  .footer .social-links {
    margin: 0 30px;
  }
}
@media (min-width: 1200px) {
  .footer .social-links {
    margin: 0 50px;
  }
}
@media (max-width: 599px) {
  .footer .social-links ul {
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    width: 100%;
  }
}
.footer .social-links__list {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
@media (min-width: 600px) {
  .footer .social-links__list {
    display: block;
    margin-top: 25px;
  }
}
.footer .social-links__link {
  color: var(--color-white);
}
.footer .social-links .icon {
  fill: var(--color-white);
}
.footer .social-links__item {
  margin-bottom: 10px;
}
.footer .social-links__item span {
  margin: auto 0;
}
.footer .social-links__title {
  padding-bottom: 20px;
  font-weight: 700;
}
@media (min-width: 600px) {
  .footer .social-links__title {
    padding-left: 40px;
  }
}
@media (min-width: 900px) {
  .footer .social-links__title {
    padding-bottom: 25px;
  }
}
@media (min-width: 900px) {
  .footer .social-links__title + ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 5px;
  }
}
.footer__link-list {
  flex: 0 0 22%;
}
@media (min-width: 1200px) {
  .footer__link-list {
    flex: 0 0 45%;
  }
}
@media (min-width: 900px) {
  .footer__link-list .accordion {
    display: flex;
  }
}
@media (min-width: 600px) {
  .footer__link-list .accordion--white {
    padding: 0px;
    margin-top: -17px;
  }
}
@media (min-width: 900px) {
  .footer__link-list .accordion--white {
    margin-top: 0px;
  }
}
@media (min-width: 900px) {
  .footer__link-list .accordion__heading {
    display: inline-block;
    pointer-events: none;
    padding: 0 0 25px;
    margin: 0px;
  }
  .footer__link-list .accordion__heading svg {
    display: none;
  }
}
@media (min-width: 900px) {
  .footer__link-list .accordion__item {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .footer__link-list .accordion__item {
    margin-right: 77px;
  }
}
.footer__link-list .accordion__content {
  font-size: 16px;
}
@media (min-width: 900px) {
  .footer__link-list .accordion__content {
    max-height: none;
    overflow: visible;
    visibility: visible;
  }
}
.footer__link-list .accordion__content.hidden {
  visibility: hidden;
  display: block;
}
@media (min-width: 900px) {
  .footer__link-list .accordion__content.hidden {
    visibility: visible;
  }
}
.footer__link-list .accordion__content a {
  display: block;
  margin: 5px;
}
.footer__link-list .accordion__content a[href^=tel] {
  white-space: nowrap;
}
@media (min-width: 900px) {
  .footer__link-list .accordion__content a {
    margin: 5px 0px;
  }
}
.footer__footnote {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 12px;
  margin-top: -2px;
  max-width: 450px;
}
@media (max-width: 599px) {
  .footer__footnote {
    font-size: 10px;
  }
}
@media (min-width: 600px) {
  .footer__footnote {
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    max-width: var(--container-max-width);
  }
}
.footer__footnote div:not(.social-links) {
  padding-bottom: 19px;
}
@media (max-width: 360px) {
  .footer__footnote div:not(.social-links) {
    text-align: center;
  }
}
.footer__footnote div.footer_social-links {
  padding-bottom: 15px;
}
.footer__footnote-links a {
  margin-left: 5px;
}
@media (min-width: 600px) {
  .footer__footnote-links a {
    margin-left: 20px;
  }
}
.footer__footnote-links a:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
}
@media (min-width: 600px) {
  .footer__footnote-links a:after {
    display: none;
  }
}
.footer__footnote-links a:first-child {
  margin-left: 0;
}
.footer__footnote-links a:last-child::after {
  display: none;
}
.footer__copyright {
  margin-right: 20px;
}
@media (min-width: 600px) {
  .footer__vertical-bar {
    display: none;
  }
}
.footer .tooltip {
  display: none;
}
.footer .tooltip ul {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
  margin: 0px;
}
.footer .tooltip .social-links {
  margin: 0px;
}
.footer .tooltip .social-links__title {
  display: none;
}
.footer .tooltip .icon {
  fill: var(--color-text);
}
.footer .tooltip .social-links__item {
  margin-bottom: 0;
}
.footer .tooltip .social-links__item a {
  color: var(--color-text);
}
@media (min-width: 600px) {
  .footer .tooltip .tooltip__title-link {
    margin-right: 0px;
  }
}

.tooltip-open #shopify-section-footer .footer__footnote-links {
  display: none;
}

@media (max-width: 599px) {
  .template-search .footer,
.template-collection .footer {
    padding-bottom: 60px;
  }
}
.collection__title {
  text-align: center;
  padding-top: 50px;
}
.collection__image .banner-overlay {
  margin: 0;
}
.collection .breadcrumbs {
  margin: 30px 0 15px;
}
@media (min-width: 600px) {
  .collection .breadcrumbs {
    margin: 41px 0 25px;
    text-transform: none;
    position: sticky;
    top: 95px;
    z-index: 10;
    background: var(--color-white);
    padding-bottom: 10px;
  }
}
@media (min-width: 600px) {
  .collection__description {
    width: 73%;
  }
}
@media (min-width: 900px) {
  .collection__description {
    width: 44%;
  }
}
.collection .product-grid {
  padding: 54px 0;
}
.collection__footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 80px;
}
@media (min-width: 600px) {
  .collection__footer {
    justify-content: space-between;
    align-items: center;
  }
}
.collection__footer .breadcrumbs {
  position: inherit;
  z-index: 1;
  background: transparent;
  padding-bottom: 0;
}
.collection__filters {
  z-index: 11;
}
.collection__filters--hidden {
  display: none !important;
}
@media (max-width: 599px) {
  .collection__filters {
    max-width: 350px;
    margin: auto;
    border: 2px solid var(--color-border);
    position: fixed;
    bottom: 5vw;
    left: 0;
    right: 0;
  }
}
@media (min-width: 600px) {
  .collection__filters {
    text-align: end;
    position: sticky;
    top: 100px;
    width: max-content;
    margin-left: auto;
    margin-bottom: -65px;
  }
  .collection__filters--description {
    top: 109px !important;
    margin-top: -29px !important;
  }
}
@media (max-width: 355px) {
  .collection__filters {
    max-width: 290px;
  }
}
.collection__filters-button {
  font-size: 14px;
  text-align: center;
  color: var(--color-text);
  background: var(--color-white);
  width: 100%;
  padding: 15px;
}
@media (min-width: 600px) {
  .collection__filters-button {
    padding: 0;
    background: transparent;
    position: relative;
  }
  .collection__filters-button--description {
    bottom: 11px !important;
  }
}
.collection__filters-button:hover {
  outline: none;
  background: var(--color-white);
  text-decoration: underline;
}
.collection__filters-button .count-bubble[data-filter-count="0"] {
  display: none;
}
.collection__filters-button .count-bubble:before {
  content: "(" attr(data-filter-count) ")";
  display: inline-block;
}
.collection__filters-product-count {
  margin: 0;
}
@media (min-width: 600px) {
  .collection__filters-product-count {
    float: left;
  }
}

.account-template {
  text-align: center;
  margin: 35px 0 100px;
}
.account-template__header, .account-template__orders, .account-template__address {
  margin-bottom: 50px;
}
.account-template__header {
  text-align: center;
}
.account-template__title {
  margin-bottom: 8px;
}
.account-template__address p {
  margin: 0;
}
.account-template__view_addresses {
  margin-top: 8px;
}
.account-template__view_addresses .btn {
  padding: 8px;
  font-size: 12px;
}
.account-template__table-orders {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.account-template__table-orders th, .account-template__table-orders td {
  text-align: left;
  border: 1px solid var(--color-border);
  padding: 10px 14px;
}
@media (max-width: 599px) {
  .account-template__table-orders thead {
    display: none;
  }
  .account-template__table-orders th,
.account-template__table-orders td {
    float: left;
    clear: left;
    width: 100%;
    text-align: right;
    padding: 10px 14px;
    border: 0;
    margin: 0;
  }
  .account-template__table-orders th:before,
.account-template__table-orders td:before {
    content: attr(data-label);
    float: left;
    text-align: center;
    font-size: 14px;
    padding-right: 10px;
    font-weight: bold;
  }
  .account-template__table-orders tr:before {
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background: var(--color-border);
    bottom: 100%;
    left: 0;
    display: block;
    margin: 12px 0;
  }
  .account-template__table-orders tr:first-of-type:before {
    content: none;
  }
}

.medium-zoom-image--opened,
.medium-zoom--opened .medium-zoom-overlay {
  z-index: 9999;
}

body.template-product[data-screen-mode=mobile] #fc_frame {
  bottom: 155px;
}

.swiper .swiper-button-next.transparent-button,
.swiper .swiper-button-prev.transparent-button {
  background: transparent !important;
}
@media (max-width: 899px) {
  .swiper .swiper-button-next,
.swiper .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 900px) {
  .swiper .swiper-pagination {
    display: none;
  }
}
.swiper.swiper__product-card {
  padding-bottom: 50px;
}
@media (min-width: 900px) {
  .swiper.swiper__product-card {
    padding-bottom: 30px;
  }
}
.swiper.swiper__product-card .swiper-pagination {
  bottom: 0;
  text-align: left;
}
.swiper.swiper__product-card quick-variant-selector ul {
  top: auto;
  bottom: 25px;
}

#locksmith-content {
  padding: 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locksmith-passcode-container {
  width: min(90vw, 400px);
  max-width: 100% !important;
  margin: 20px 0 !important;
  display: inline-block;
}

#locksmith_passcode_submit .loading {
  background: inherit !important;
}

/*# sourceMappingURL=/theme.css.map */