
<div class="page-width">
    <div class="grid style-guid-margin">
        <div class="grid_item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="div-style-guid">
            <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>

                <h1 class="h1-seirf">Heading Serif 1</h1>
                <h2 class="h2-seirf">Heading Serif 2</h2>
                <h3 class="h3-seirf">Heading Serif 3</h3>
                <h4 class="h4-seirf">Heading Serif 4</h4>
                <h5 class="h5-seirf">Heading Serif 5</h5>
                <h6 class="h6-seirf">Heading Serif 6</h6>

                <h1 class="heading-uppercase">heading uppercase 1</h1>
                <h2 class="heading-uppercase">heading uppercase 2</h2>

                <div class="heading-uppercase-small">Heading uppercase Small</div>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

                <p class="crossed-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <p class="mini-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <p class="mini-text-uppercase">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                
                {% include 'icon-cart' %}
                {% include 'icon-bag' %}
                {% include 'icon-close' %}
                {% include 'icon-menu' %}
                {% include 'icon-search' %}
                {% include 'icon-add' %}
                {% include 'icon-delete' %}
                {% include 'icon-youtube' %}
                {% include 'icon-twitter' %}
                {% include 'icon-instagram' %}
                {% include 'icon-facebook' %}
                {% include 'icon-down' %}


                <button>buton test</button>
                <button class="btn">buton test</button>

            </div>
        </div>
    </div>
</div>